@use "../../styles/colors";
@use "../../styles/sizing";

.button {
  font-size: sizing.$base-size--10;
  padding: sizing.$base-size--8 0;
  background-color: colors.$black;
  color: colors.$gold;
  border: sizing.$base-size solid colors.$gold;
  border-radius: sizing.$base-size--16;
  min-width: 150px;
  cursor: pointer;
  &:disabled {
    color: colors.$gray;
    border-color: colors.$gray;
    cursor: auto;
  }
}
