@use "../../styles/colors";
@use "../../styles/sizing";

p {
  font-size: sizing.$base-size--8;
}

h2 {
  font-size: sizing.$base-size--24;
}

h3 {
  font-size: sizing.$base-size--12;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: sizing.$base-size--12;
  padding-top: sizing.$base-size--12;
  padding-bottom: sizing.$base-size--28;
}

.title-wrapper {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  & span {
    font-size: sizing.$base-size--10;
    color: colors.$white;
  }
}

.blue {
  color: colors.$blue;
}

.green {
  color: colors.$green;
}

.red {
  color: colors.$red;
}
