$base-size: 2px;
$base-size--2: $base-size * 2;
$base-size--3: $base-size * 3;
$base-size--6: $base-size * 6;
$base-size--8: $base-size * 8;
$base-size--10: $base-size * 10;
$base-size--12: $base-size * 12;
$base-size--16: $base-size * 16;
$base-size--24: $base-size * 24;
$base-size--28: $base-size * 28;
