@use "../../styles/colors";
@use "../../styles/sizing";

.card {
  border-width: sizing.$base-size;
  border-style: solid;
  padding: sizing.$base-size--8 0;
  min-width: 150px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: sizing.$base-size--6;
  border-radius: sizing.$base-size--2;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.card-bet {
  border-radius: 50%;
  padding: sizing.$base-size--3 sizing.$base-size;
  background-color: colors.$white;
  color: colors.$black;
  border: sizing.$base-size--2 solid colors.$blue;
}

.card-label {
  font-size: sizing.$base-size--8;
}

.blue {
  border-color: colors.$blue;
  background-color: colors.$dark-blue;
  color: colors.$blue;
}

.green {
  border-color: colors.$green;
  background-color: colors.$dark-green;
  color: colors.$green;
}

.red {
  border-color: colors.$red;
  background-color: colors.$dark-red;
  color: colors.$red;
}
