@use "../../styles/colors";
@use "../../styles/sizing";

.header {
  background-color: colors.$black;
  width: 100%;
  padding: sizing.$base-size--2;
  display: flex;
  justify-content: center;
  gap: sizing.$base-size--24;
}
